body {
    font-family: Inter, sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    width: 40%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

section {
    padding: 0 20px; /* Adds padding to each section to reduce content width */
}

header {
    display: flex;
    font-family: Inter;
    text-align: center;
    padding: 20px 0;
}

#name {
    border-bottom: none;
}

.bio {
    padding-left: 20px;
    width: 66%;
    text-align: left;
}

.bio > * {
    margin: 0;
    padding: 0;
}

.institution {
    margin: 5px 0 0 0;
}  

.institution * {
    margin: 0;
}

#location {
    font-size: 13px;
}

p {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    color: rgb(120, 113, 108);
}

.profile-pic-wrapper {
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: right;
    width: 33%;
}

.profile-pic {
    width: 130px;
    height: 130px;
    border-radius: 10%;
    margin-bottom: 10px;
}

.links {
    margin-top: 10px;
    display: flex;
}


.links * {
    margin-right: 2px;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover { text-decoration: underline; }
a:visited { color: inherit; }

.card {
    margin-bottom: 25px;
}

.card img {
    width: 30px;
    height: 30px;
}

.card-info > * {
    margin: 0;
    padding: 0;
}

.card-summary {
    margin-top: 10px;
    font-size: 13px;
}

.icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border:1px solid rgb(231, 229, 228);
    border-radius: 20%;
}

.icon-wrapper:hover {
    background-color: rgba(231, 229, 228, 0.795);
}

.icon {
    fill: rgb(120, 113, 108, 0.5);
    width: 16px;
    height: 16px;
}

.paper-links {
    margin-top: 3px;
    display: flex;
}

.paper-links * {
    margin-right: 10px;
}

.about,
.work-experience,
.education,
.papers,
.projects {
    margin-top: 40px;
}

h2 {
    color: rgb(12, 10, 9);
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

h3 {
    color: #555;
    margin-top: 20px;
}

.projects .project {
    margin-top: 20px;
}

.project h3 {
    margin-bottom: 5px;
}

.project p {
    margin: 5px 0;
}

@media only screen and (max-width: 1270px) {
    .container {
      width: 90%;
    }
  }

@media only screen and (max-width: 480px) {
header {
    flex-direction: column-reverse;
}
.profile-pic-wrapper {
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
}

.bio {
    width: 90%;
}

}

@media print {
    .container {
        width: 85%;
    }

    #social-links {
        display: none !important;
    }

    .paper-link-button {
        display: none !important;
    }

    .page-break {
        page-break-before: always;
    }

    .card {
        page-break-inside: avoid;
    }
}
